<div class="mb-3">
	<label for="articleTitle" class="form-label">Article Title</label>
	<input type="text" class="form-control" [(ngModel)]="article.title" #articleTitle>
</div>

<div class="mb-3">
	<label for="articleBody" class="form-label">Article Body</label>
	<textarea class="form-control" [(ngModel)]="article.body" #articleBody rows="3"></textarea>
</div>

<div class="mb-3">
	<label for="articleAuthor" class="form-label">Article Author</label>
	<input type="text" class="form-control" [(ngModel)]="article.author" #articleAuthor>
</div>

<div>
	<button type="button" class="btn btn-success" (click)="update(articleTitle.value, articleBody.value, articleAuthor.value)">Update</button>
</div>